{	
	"root_address":"C:\\intersections\\pics", 
	"pic_address":{
		"1":"1.gif",
		"2":"2.gif",
		"3":"3.gif",
		"4":"4.gif",
		"5":"5.gif",
		"6":"6.gif",
		"7":"7.gif",
		"8":"8.gif",
		"10":"10.gif",
		"11":"11.gif",
		"12":"12.gif",
		"13":"13.gif",
		"14":"14.gif",
		"15":"15.gif",
		"16":"16.gif",
		"17":"17.gif",
		"18":"18.gif",
		"20":"20.gif"

}
}